.users {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 20px;
  padding: 20px;
}

.users h1 {
  grid-column: span 12;
  font-size: 2em;
  color: #333;
  margin-bottom: 20px;
}
